:root {
  --ifm-color-primary: #0f61cc;
  --ifm-color-primary-dark: #0d59bc;
  --ifm-color-primary-darker: #0b51ad;
  --ifm-color-primary-light: #126de6;
  --ifm-color-primary-lighter: #2b7ced;
}

body {
  font-feature-settings: "liga" 1, "kern" 1;
}
